.datails{
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background: gainsboro;
    padding: 15px 20px;
    border-radius: 10px;
}
.box h3{
    font-size: 40px;
    font-weight: 700;
}
.box span{
    font-size: 20px;
    font-weight: 400;
}
.box p{
    font-size: 18px;
    color: rgb(38, 48, 56);
    font-weight: 600;
}


