.exercise{
    margin: 50px 0;
    padding: 20px;
}
.exercise h2{
    margin: 10px;
}
.exercise-time{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(209, 200, 200);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}
.break-times{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(204, 194, 194);
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 20px;
}
p{
    color: #383b3e;
    font-weight: 400;
}
h4{
    /* font-weight: 400; */
}